nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    border-bottom: 4px solid #1E90FF;
    height: 80px; 
}

.navbar-brand {
    height: 100%; 
}

.navbar-logo {
    height: 100%;
    width: auto; /* Ensures the aspect ratio is maintained */
    max-height: 80px; /* Matches the navbar height */
    object-fit: cover; /* Ensures the image fills the container */
}

.navbar-nav {
    display: flex;
    gap: 1rem;
}

.nav-link {
    color: #FFFFFF; 
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #FF6F61; 
    color: #000000; 
}

.nav-link.active {
    background-color: #FF6F61; 
    color: #000000; 
}

.welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF; /* White text */
    text-align: center;
    padding: 1rem;
}
