{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>


    <nav>
        <a class="navbar-brand" href="#">           
            <img src="{% static 'img/Clique.png' %}" alt="Clique Logo" class="navbar-logo"></a>
        <div class="navbar-nav">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Groups</a>
            <a class="nav-link" href="#">Events</a>
        </div>
    </nav>


    {% block content %}{% endblock content %}
</body>
